body{
  margin: 0;
  padding: 0;
  background-color: #2B4865;
  font-family: 'Roboto', sans-serif;
}
.container{
  background-color: rgb(99, 24, 24);
  margin-left: 15%;
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 6px 6px teal;
}
.mainTitle{
  color: #E2DCC8;
  text-align: center;
}

.mainTitle h1{
  font-family: 'Kanit', sans-serif;
  font-size: 3rem;
  letter-spacing: 5px;
}

.mainTitle p{
  font-size: 1.2rem;
  color: #E2DCC8;
  margin-top: -15px;
}
.breakLine{
    width: 80%;
    border: 0.1px solid #E2DCC8;
    opacity: 0.6;
}

.subtitle { 
  padding: 30px 0;
  text-align: center;
  color: #E2DCC8;
  font-size: 1.8rem;
}
.title-plates{
  color: #E2DCC8;
  text-align:left;
  font-size: 1.4rem;
}
.description-plates{
  padding: 5px 10px;
  font-size: 1.1rem;
  text-align: justify;
  color: #E2DCC8;
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
}
.list {
  list-style: none;
}
.plates{
  display: flex;
  margin-top: 15px;
}
.menu{
  border-radius: 15px;
  width: 70%;
  margin-left: 8%;
  
}
.price{
  color: #E2DCC8;
  font-size: 1.2rem;
  width: 20%;
  display: flex;
  margin: 0 5px;
  justify-content: center;
  align-items: center;
}
